.body {
  background-color: black !important;
}


.jumbotron {
  background-image: url(../images/movie2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-bottom: 20px; */
}
.btn-secondary {
  background-color:transparent !important;
  float:left ;

}

.btn-secondary:hover{
  color: black !important;
  background-color: seashell !important;
  
}

.footer {
  /* margin-top: 10px; */
  width: 100%;
  padding: 0px;
  /* margin-bottom: 20px; */
  /* background-color:rgb(41, 39, 45); */
  color: silver !important;
  text-align: center;
  border-bottom: 5px solid seashell;
  background-color: black;
  border-top: 5px solid seashell;;
  
}

.cardContainer a {
  color:silver !important;

}
.container h1 {
  color: silver;
  background: -o-linear-gradient(right);
}

.container p {
  color: silver;
}
.lead {
  color: silver;
}

.movie {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  background-color:black;
  color: silver;
  text-align: center;
  border-bottom: 5px solid whitesmoke;

}


.Results {
  text-align: center;
  color: silver;
  padding: 0px;
  
}
.float-left {
  
  margin-right: 100px
}

.row {
  border-style: hidden;
  
  padding: 30px;
}

.container1 {
  background-color:black;
  border-radius: 10px; 
  border-color: black;
  border-style: double;
  /* box-shadow: steelblue; */
  
}




/* Modal CSS Starts, copied from W3 School */
/* https://www.w3schools.com/howto/howto_css_modals.asp */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal CSS ends */