@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&display=swap'); 

* {
    font-family: 'Montserrat', sans-serif;
}

/* Header */
.jumboTitle {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bolder;
}

/* Landing page */

.hide {
  display: none;
}

.displayQuotes, .btn, .btn-primary  {
  display: flex;
  justify-content: center;
}

.mainUi {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.card, .card-header {
  border-radius: 30px;
}

.loadingIcon, img {
  width: 70%;
  display: flex;
  justify-content: center;
  transform: scale(1.2);    
  animation: play 4s steps(12) infinite;
  /* transform: translate(15%); */
  background-image: url('../images/popcorn.png');
}

@keyframes play {
  from { background-position:  -100px; }
    to { background-position: 1000px; }
}